html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

@font-face {
  font-family: "clickfont";
  src: url(/SimonciniGaramondStd.otf);
}

.click {
  font-size: medium ;
  font-family: clickfont;
  display: flex;
  justify-content: center;
}
